<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开普勒京东秒杀</title>
</head>
<body>
<!--查询选项-->
<div class="box">
    <div class="box-inner">
        <div class="box-header" data-original-title="">
            <h2><i class="glyphicon glyphicon-edit"style="padding-left: 20px;"></i>当前位置：<span style="font-size: 14px">开普勒京东秒杀</span></h2>
        </div>
        <form class="form-inline" role="form">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8 paddingTop">
                    <b>&nbsp;&nbsp;jd.kpl.open.seckill.keplerqb ( 开普勒京东秒杀 )</b><br/>
                    &nbsp;&nbsp;仅当前场次和下一场次
                </div>
            </div>
            <div class="row center">
                <div class="col-md-4 col-sm-4 col-xs-4 paddingTop">
                    <!--<span class="input-label">频道id：</span>
                    <select  class="form-control" ng-model="params.channel" style="height:30px;width: 180px;">
                        <option value="">&#45;&#45;请选择&#45;&#45;</option>
                        <option ng-repeat="op in pageTypes" value="{{op.typeId}}">{{op.typeName}}</option>
                    </select>-->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top: 5px;">
                    <button class="btn btn-default btn-sm" ng-click="reset()">重置</button>
                    <button class="btn btn-primary btn-sm" ng-click="query()">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--查询结果列表-->
<div class="box-inner">

    <div class="box-header" data-original-title="">

        <h2><i class="glyphicon glyphicon-list" style="padding-left: 20px;"></i> 商品列表</h2>

    </div>

    <div class="box-content" style="padding: 0px;padding-bottom: 0px;">

        <div class="box-content">

            <div  ui-grid="gridOptions" style="width: 100%; height: 500px; margin: -10px;" ui-grid-pagination
                  ui-grid-selection  ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize>
            </div>

        </div>

    </div>

</div>
<!--提报优惠券集合 弹框-->

<!--全详细信息 弹框-->


</body>
</html>